<!-- header-start -->
{% url "index" as index %}
{% url "about" as about %}
{% url "projects" as projects %}
{% url "pricing" as pricing %}
{% url "contact" as contact %}
<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'index' %}">
                                    <img src="{{ static }}img/GORDIJOVICH.png" alt="" style="height: 5rem;">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-10">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a {% if request.path == index %} class="active" {% endif %} href="{{ index }}">home</a></li>
                                        <li><a {% if request.path == about %} class="active" {% endif %} href="{{ about }}">about</a></li>
                                        <li><a {% if request.path == projects %} class="active" {% endif %} href="{{ projects }}">projects</a></li>
                                        <li><a {% if request.path == pricing %} class="active" {% endif %} href="{{ pricing }}">pricing</a></li>
                                        <li><a {% if request.path == contact %} class="active" {% endif %} href="{{ contact }}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->