{% load static %}
{% get_static_prefix as static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GORDIJOVICH | About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/head_links.html' %}
</head>

<body>
{% include 'includes/navbar.html' %}

<!-- slider_area_start -->


<!-- gallery_start -->
<div class="topsection " style="margin-top: 10rem">
    <div class="align-fix" STYLE="width: 100%">
        <div class="photo-grid">
            <div class="photo-wraper"><img src="{% static "img/about/2.jpg" %}" alt=""></div>
            <div class="photo-wraper"><img src="{% static "img/about/3.jpg" %}" alt=""></div>
            <div class="photo-wraper"><img src="{% static "img/about/1.jpg" %}" alt=""></div>
            <div class="photo-wraper"><img src="{% static "img/about/4.jpg" %}" alt=""></div>
        </div>
    </div>
    <div class="description">
        <h3 class="section-intro__subtitle bottom-border-left">WHO WE ARE</h3>
        <span>
            Founded by : Orest Moskal
<br><br>
Based in Lviv, Working Globally
<br><br>
Partnered international architectures we work on a global scale from USE to Asia.
<br><br>
DARK RENDER is based in the beautiful city of Lviv, where historical buildings hide a buzzing party, food and art scene.The DARK RENDER team is comprised of a diverse and skillful group of professionals who hail from over 4 different countries. This core team is constantly growing and evolving - both to expand our pool of talented artists and to grow our available capacity for our Clients.
<br><br>
Team,talented professionals working behind the scenes.
            </span>
    </div>
</div>
<div class="team_area team_bg_1 overlay2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-73">
                    <h3>Our Partners</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in partners %}
                <div class="col-lg-4 col-md-6">
                    <a href="" class="single_team">
                        <div class="team_thumb">
                            <img src="{{ item.image.url }}" alt="">
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- team_area_end  -->

<!-- footer_start  -->
{% include 'includes/footer.html' %}

{% include 'includes/footer_links.html' %}
</body>

</html>