{% load static %}
{% get_static_prefix as static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GORDIJOVICH | 3D Animation Studio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/head_links.html' %}
    <script src="{% static 'js/isotope.pkgd.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.js' %}"></script>
</head>

<body>
{% include 'includes/navbar.html' %}

<!-- hero_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center overlay"
             style="background-image: url({{ static }}img/hero_bg.jpg);">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-12">
                        <div class="slider_text text-center">
                            <h3>Customized 3D Animation</h3>
                            <p>PROMO|TECHNICAL|STORE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hero_area_end -->

<!-- about_area -->
<div class="row index_about">
    <div class="col-lg-7">
        <h3><span class="font-weight-bold">GORDIJOVICH </span><span
                class="text-accent font-weight-light">3D ANIMATION </span><span
                class="font-weight-light">SERVICES</span></h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur atque eum, harum totam ullam voluptas! A eius excepturi nobis quidem quos? Beatae doloremque doloribus in ipsam necessitatibus placeat soluta.</span><span>Ad amet animi, at dolorem dolores ducimus eaque et explicabo hic illum impedit ipsa, ipsam laborum libero magnam maxime odio officia praesentium quaerat qui quisquam reiciendis reprehenderit, similique temporibus veritatis?</span><span>Amet animi aut autem commodi consectetur corporis deleniti deserunt doloremque esse et ex in iure libero nisi odio officiis omnis, possimus quibusdam quod reiciendis repellendus sequi sunt tempora ullam veritatis!</span><span>Accusamus aliquam amet autem, cum cupiditate debitis delectus, dolor dolore doloribus eaque eius est ex illum laborum libero nihil pariatur provident quaerat repellat unde? Eos ex incidunt omnis possimus suscipit!</span>
        </p>
    </div>
    <div class="col-lg-5">
        <img src="{% static 'img/hero_bg.jpg' %}" alt="">
    </div>
</div>
<!--/ about_area  -->
<div class="big_offer_area-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="offter_text text-center">
                    <h3>Our <span style="color: #FF1414;">Works</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-grid">
    {% for item in projects %}
        <div class="portfolio-item {{ item.category }}">
            <img class="portfolio-image" src="{{ item.image.url }}" alt="">
            <div onclick="" class="overlay">
                <h2>{{ item.name }}</h2>
                <span>{{ item.description|truncatechars:32 }}</span>
                <br>
                <a href="{% url "project_page" item.pk %}" class="sq-button">MORE</a>
            </div>
        </div>
    {% endfor %}
</div>

<div class="big_offer_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="offter_text text-center">
                    <h3>Get To Know Project Estimate?</h3>
                    <a href="#" class="boxed-btn3">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% include 'includes/footer_links.html' %}
<script>

    // element argument can be a selector string
    //   for an individual element
    let grid = document.querySelector('.portfolio-grid');

    var iso = new Isotope(grid, {
        itemSelector: '.portfolio-item',
        layoutMode: 'masonry',
    });

    function filter(attr) {
        iso.arrange({
            filter: attr
        })
    }

    imagesLoaded(grid).on('progress', function () {
        // layout Isotope after each image loads
        iso.layout();
    });

    filter('.{{ filter }}')

</script>
</body>

</html>