{% load static %}
{% get_static_prefix as static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GORDIJOVICH | Pricing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/head_links.html' %}
</head>

<body>
{% include 'includes/navbar.html' %}

<!-- bradcam_area -->
<div class="bradcam_area">
    <div class="single_bradcam d-flex align-items-center bradcam_bg_2 overlay">
        <div class="container" style="margin-top: 5rem;">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-9">
                    <div class="bradcam_text text-center">
                        <span>HOW MUCH DOES IT COST?</span>
                        <h3>PRODUCT ANIMATION PRICING</h3>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area end -->
<div class="priscing_area_info">
    <div class="container">
        <div class="row">
            <p>Pricing based on product animations and assumes a 3d CAD model will be provided. Don't have a 3d CAD model? Please contact us for a custom quote. Pricing verified on receipt of 3d CAD models. All product animations have a base setup charge of $3,750 + $75 per second.  Product animations that require human characters, fluid or particle dynamics (liquids, gasses, particles, etc.) or animations outside the realm of product animations (game trailers, movie trailers, TV commercials, architectural structures, etc.) need to be custom quoted for accuracy.</p>
        </div></div></div>
<div class="priscing_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single_prising text-center">
                    <div class="prising_header">
                        <h3>30 Second Teaser Animation</h3>
                        <span>$6,000</span>
                    </div>
                    <div class="pricing_body">
                        <ul>
                            <li>1080p HD quality</li>
                            <li>Photo-real Style 2 weeks</li>
                            <li>Unlimited Render Samples</li>
                            <li>Two 4k Renders</li>
                            <li>Music royalty-free</li>
                            <li>On Screen Graphics</li>
                            <li>Full Quality Animation Review</li>
                            <li>Up to 30 Seconds of revisions</li>
                            <li class="off-color">Add Seconds $75 per second</li>
                            <li class="off-color">Add Voice-over web-use-rights $400</li>
                        </ul>
                    </div>
                    <div class="pricing_btn">
                        <a href="#" class="boxed-btn3">Let's get started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_prising text-center">
                    <div class="prising_header">
                        <h3>60 Second Promo Animation</h3>
                        <span>$8,250</span>
                    </div>
                    <div class="pricing_body">
                        <ul>
                            <li>1080p HD quality</li>
                            <li>Photo-real Style 2-3 weeks</li>
                            <li>Unlimited Render Samples</li>
                            <li>Four 4k Renders</li>
                            <li>Music royalty-free</li>
                            <li>On Screen Graphics</li>
                            <li>Full Quality Animation Review</li>
                            <li>Up to 60 Seconds of revisions</li>
                            <li class="off-color">Add Seconds $75 per second</li>
                            <li class="off-color">Add Voice-over web-use-rights $450</li>
                        </ul>
                    </div>
                    <div class="pricing_btn">
                        <a href="#" class="boxed-btn3">Let's get started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_prising text-center">
                    <div class="prising_header">
                        <h3>90 Second Explainer Animation</h3>
                        <span>$10,500</span>
                    </div>
                    <div class="pricing_body">
                        <ul>
                            <li>1080p HD quality</li>
                            <li>Photo-real Style 3 weeks</li>
                            <li>Unlimited Render Samples</li>
                            <li>Six 4k Renders</li>
                            <li>Music royalty-free</li>
                            <li>On Screen Graphics</li>
                            <li>Full Quality Animation Review</li>
                            <li>Up to 90 Seconds of revisions</li>
                            <li class="off-color">Add Seconds $75 per second</li>
                            <li class="off-color">Add Voice-over web-use-rights $500</li>
                        </ul>
                    </div>
                    <div class="pricing_btn">
                        <a href="#" class="boxed-btn3">Let's get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- big_offer_area start  -->
<div class="big_offer_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="offter_text text-center">
                    <h3>Get To Know Project Estimate?</h3>
                    <a href="#" class="boxed-btn3">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- big_offer_area end  -->


{% include 'includes/footer.html' %}

{% include 'includes/footer_links.html' %}

</body>

</html>