.big_offer_area {
    background-color: #000;
    padding: 5rem 0;
    @media #{$mobile_device}{
        padding: 2.5rem 0;
    }
    @media #{$tablet_device}{
        padding: 3.5rem 0;
    }

    .offter_text {
        h3 {
            font-size: 46px;
            font-weight: 400;
            font-family: $font1;
            color: #fff;
            text-transform: uppercase;
            @media #{$mobile_device}{
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
}

.big_offer_area-2 {
    background-color: #000;
    padding: 2.5rem 0;
    @media #{$mobile_device}{
        padding: .5rem 0;
    }
    @media #{$tablet_device}{
        padding: 1.5rem 0;
    }

    .offter_text {
        h3 {
            font-size: 46px;
            font-weight: 400;
            font-family: $font1;
            color: #fff;
            text-transform: uppercase;
            @media #{$mobile_device}{
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
}